<div class="container">
  <section id="post">
    <article class="post">
      <h1><%= @post.title %></h1>
      <% if params[:new] == "true" %>
        Save this link to edit in future: <a href="/posts/<%= @post.id %>/edit/<%= @post.secret_key %>">/posts/<%= @post.id %>/edit/<%= @post.secret_key %></a>
      <% end %>
      <span><%= @post.email %></span>
      <span><%= @post.price %></span>
      <p><%= @post.description %></p>
  </section>
</div>