<div class="container">
  <section id="post">
    <article class="post">
      <h1><%= @post.title %></h1>
      <% if params[:new] == "true" %>
        Save this link to edit in future: <a href="/posts/<%= @post.id %>/edit/<%= @post.secret_key %>">/posts/<%= @post.id %>/edit/<%= @post.secret_key %></a>
      <% end %>
      <p class="email"><%= @post.email %></p>
      <p class="price">$ <%= @post.price %></p>
  </section>
  <p class="description"><%= @post.description %></p>
</div>